Django==2.1.7
django-crispy-forms==1.7.2

django-filters==0.2.1
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
Markdown==3.0.1
django-google-charts==0.1.1
django-tempus-dominus==5.1.2.2
Pillow==5.4.1
PyJWT==1.7.1
pytz==2018.9
