{% extends "base.html" %}


{% block title %}Events{% endblock title %}

{% block content %}
    
    <br><br><br><br>
<div class="container">
  <div class="row ">
{% for event in events %}
<div class="col-4 my-2">
<div class="card" style="width: 22rem;">
  <img src="{{event.poster.url}}" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title"> Name of Event :{{event.name}}</h5>
    <p class="card-text">Description : {{event.description}}</p>
    <p class="card-text">Organized by : {{event.organizer}}</p>
    <p class="card-text"><small class="text-muted"> Date :{{event.date}}</small></p>
  </div>
  <a href="{{event.get_absolute_url}}"> <span>det</span> </a>
</div>
</div>
{% endfor %}

</div>
</div>
    <br><br><br><br>

{% endblock content %}


